

<div class="p-grid" *ngIf="status; else noTasks">
    <div class="" *ngFor="let task of tasks$ | async">
        <mat-card appearance="outlined" class="mb-2 mt-2">
            <mat-card-header class="md:pl-8 md:pr-8 mb-2">
                <div class="w-full flex justify-content-between align-items-center">
                    <mat-card-title>{{ task.taskName }}</mat-card-title>
                    <mat-card-subtitle>{{ task.deadline | date:'yyyy-MM-dd'}}</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="md:pl-8 md:pr-8">
                <div class="grid gap-2">
                    <mat-card *ngFor="let person of task.people" class="mt-3 m-auto p-3 col-4" appearance="outlined">
                        <div class="mb-2">
                            <p class="flex gap-3 align-items-center" ><strong>{{ person.name }}</strong> ({{ person.age }} años)</p>
                        </div>
                        <div class="flex flex-wrap align-items-center gap-2">
                            <mat-chip *ngFor="let skill of person.skills">
                                {{ skill }}
                            </mat-chip>
                        </div>
                    </mat-card>
                </div>

                <p class="mt-3 ml-5">
                    <mat-slide-toggle color="primary" [checked]="task.status" (change)="onChangeSlideStatus(task)">
                        {{ task.status ? 'Complete' : 'Pending' }}
                    </mat-slide-toggle>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #noTasks>
    <div>
        <h2>No hay datos</h2>
    </div>
</ng-template>